fit_files
pcl_files
raw_files
.idea
/logs/
/venv/
src/__pycache__
src/modules/__pycache__
/.isort.cfg
/strava_tokens.json
/src/research/.ipynb_checkpoints/
/src/heuristics/__pycache__/
/feature_eng.csv
/src/research/vzahradnik.json
*train_df*
