modules~=1.0.0
matplotlib~=3.5.1
numpy~=1.21.5
pandas~=1.4.1
scipy~=1.7.3
statsmodels~=0.13.2
sklearn~=0.0
scikit-learn~=1.0.2
fitparse~=1.2.0
pyunpack~=0.2.2
meteostat~=1.6.1
PyYAML~=6.0
ipython~=8.5.0
jupyter~=1.0.0
pip~=22.2.2
attrs~=22.1.0
tornado~=6.2
Jinja2~=3.1.2
pyzmq~=24.0.1
colorama~=0.4.5
parso~=0.8.3
jedi~=0.18.1
pytz~=2022.4
packaging~=21.3
pywin32~=304
setuptools~=63.2.0
six~=1.16.0
patsy~=0.5.2
webencodings~=0.5.1
bleach~=5.0.1
tinycss2~=1.1.1
MarkupSafe~=2.1.1
joblib~=1.2.0
psutil~=5.9.2
python-dateutil~=2.8.2
debugpy~=1.6.3
traitlets~=5.4.0
decorator~=5.1.1
Pygments~=2.13.0
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.5
mistune~=2.0.4
threadpoolctl~=3.1.0
nbformat~=5.6.1
nbclient~=0.6.8
nbconvert~=7.1.0
fastjsonschema~=2.16.2
jsonschema~=4.16.0
notebook~=6.4.12
beautifulsoup4~=4.11.1
soupsieve~=2.3.2.post1
defusedxml~=0.7.1
cffi~=1.15.1
Pillow~=9.2.0
QtPy~=2.2.1
Send2Trash~=1.8.0
terminado~=0.16.0
entrypoint2~=1.1
EasyProcess~=1.1
asttokens~=2.0.8
executing~=1.1.0
fonttools~=4.37.4
ipykernel~=6.16.0
pandocfilters~=1.5.0
pyparsing~=3.0.9
pycparser~=2.21
qtconsole~=5.3.2
ipywidgets~=8.0.2
pyrsistent~=0.18.1
cycler~=0.11.0
kiwisolver~=1.4.4
entrypoints~=0.4